.border-growing {
  background-color: #005c9a;
  color: whitesmoke;
  border-radius: 0 10px 0 10px;
}

.border-growing::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 30px;
  height: 30px;
  border-top: 3px solid #005c9a;
  border-left: 3px solid #005c9a;
  transition: width 500ms, height 600ms;
}

.border-growing:hover::before {
  width: 100%;
  height: 100%;
}

.border-growing::after {
  content: "";
  position: absolute;
  bottom: -6px;
  right: -6px;
  width: 30px;
  height: 30px;
  border-right: 3px solid #005c9a;
  border-bottom: 3px solid #005c9a;
  transition: width 500ms, height 600ms;
}

.border-growing:hover::after {
  width: 100%;
  height: 100%;
}
