.two-cuts {
  color: #222;
  border: 2px solid #222;
}

.two-cuts:hover {
  color: white;
}

.two-cuts::before,
.two-cuts::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: var(--purple);
  transition: all 200ms;
}

.two-cuts::before {
  top: -2px;
  left: 10%;
}

.two-cuts::after {
  bottom: -2px;
  right: 10%;
}

.two-cuts:hover::before,
.two-cuts:hover::after {
  background-color: transparent;
}

.two-cuts:hover::before {
  left: 80%;
}

.two-cuts:hover::after {
  right: 80%;
}

.two-cuts span {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 102%;
  height: 104%;
  background-color: transparent;
  transition: all 500ms;
  z-index: -1;
}

.two-cuts:hover span {
  background-color: #222;
}
