header {
  height: 40rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--bg-main);
  opacity: 0.8;
  border-radius: 0 70px 70px 0;
  z-index: 999;
}

nav a {
  font-family: var(--font-poppins);
  text-decoration: none;
  color: whitesmoke;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (max-width: 768px) {
  header {
    height: 6rem;
    width: 100%;
    top: 100%;
    transform: translateY(-100%);
    border-radius: 0;
    padding: 0;
    -webkit-box-shadow: 0px -1px 4px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px -1px 4px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px -1px 4px 0px rgba(255, 255, 255, 0.75);
  }

  nav {
    display: flex;
    flex-direction: row;
  }
}
