:root {
  /* --main-bg-color: #242526; */
  --btn-fa-bg-color: #fff;
}

/* BACKGROUND AND RIBBON */

.ribbon {
  width: 150px;
  text-align: center;
  padding: 2rem 0;
  position: fixed;
  inset: 0 0 auto auto;
  background-color: rgba(128, 128, 128, 0.3);
  transform-origin: 0 0;
  transform: translate(29.3%) rotate(45deg);

  /* 
        big box shadow to fill in left and right
        clip-path to cut the top and bottom of the shadow
    */
  box-shadow: 0 0 0 999px rgba(128, 128, 128, 0.3);
  clip-path: inset(0 -100%);
}

.ribbon .fa-github {
  font-size: 46px;
  background-color: transparent;
  color: black;
  transition: all ease-in 0.3s;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.ribbon:hover .fa-github {
  transform: scale(1.4);
  animation: rotation 4s infinite linear;
}

/* RIBBON 2 */

.ribbon-2 {
  width: fit-content;
  font-size: 18px;
  line-height: 35px;
  --f: 10px; /* control the folded part*/
  --r: 10px; /* control the ribbon shape */
  --t: 20px; /* the top offset */

  position: absolute;
  inset: var(--t) calc(-1 * var(--f)) auto auto;
  padding: 0 15px var(--f) calc(15px + var(--r));
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );
  background: #ffd665;
  box-shadow: 0 calc(-1 * var(--f)) 0 inset #0005;
}

/* ANIMATION FOR SOCIAL MEDIA LINKS */

.social-media-btns .btn,
.social-media-btns .btn::before,
.social-media-btns .btn .fa {
  transition: all 0.6s ease-out;
  transition-timing-function: cubic-bezier(0.06, 0.34, 0.22, 1.63);
}

.social-media-btns .btn::before {
  top: 90%;
  left: -110%;
}

.social-media-btns .btn .fa {
  transform: scale(0.8);
  background-color: var(--btn-fa-bg-color);
}

.social-media-btns .btn.facebook::before {
  background-color: #3b5998;
}

.social-media-btns .btn.facebook .fa {
  color: #3b5998;
}

.social-media-btns .btn.twitter::before {
  background-color: #3cf;
}

.social-media-btns .btn.twitter .fa {
  color: #3cf;
}

.social-media-btns .btn.linkedin::before {
  background-color: #0e76a8;
}

.social-media-btns .btn.linkedin .fa {
  color: #0e76a8;
}

.social-media-btns .btn.github::before {
  background-color: #171515;
}

.social-media-btns .btn.github .fa {
  color: #171515;
}

.social-media-btns .btn.skype::before {
  background-color: #00aff0;
}

.social-media-btns .btn.skype .fa {
  color: #00aff0;
}

.social-media-btns .btn.yahoo::before {
  background-color: #430297;
}

.social-media-btns .btn.yahoo .fa {
  color: #430297;
}

.social-media-btns .btn.instagram::before {
  background: linear-gradient(#4f5bd5, #962fbf, #d62976, #fa7e1e, #feda75);
}

.social-media-btns .btn.instagram .fa {
  color: #4f5bd5;
}

.social-media-btns .btn.youtube::before {
  background-color: #ff0000;
}

.social-media-btns .btn.youtube .fa {
  color: #ff0000;
}

.social-media-btns .btn:focus::before,
.social-media-btns .btn:hover::before {
  top: -15%;
  left: -15%;
}

/* SECOND PART */

.social-media-btns .btn:focus .fa,
.social-media-btns .btn:hover .fa {
  transform: scale(1);
  color: #fff;
  background-color: transparent;
}

.social-media-btns {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  background-color: grey;
  padding: 6rem 3rem;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);

  margin: auto;
  font-size: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-media-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
  border-radius: 20%;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3);
  opacity: 0.99;
}

.social-media-btns .btn::before {
  content: "";
  width: 130%;
  height: 130%;
  position: absolute;
  transform: rotate(45deg);
}

.social-media-btns .btn .fa {
  font-size: 42px;
  vertical-align: middle;
}

@media (min-width: 360px) and (max-width: 600px) {
  .ribbon {
    width: 110px;
    height: 0.8rem 0;
  }

  .ribbon .fa-github {
    font-size: 40px;
  }

  .social-media-btns {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 400px) {
  .ribbon {
    width: 90px;
    height: 0.5rem 0;
    padding: 1rem 0;
  }

  .ribbon .fa-github {
    font-size: 30px;
  }

  .social-media-btns {
    grid-template-columns: 1fr 1fr;
  }

  .social-media-btns .btn {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }

  .social-media-btns .btn .fa {
    font-size: 36px;
    vertical-align: middle;
  }
}